<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
  <ion-toolbar>
    <h2 style="text-align: center; font-size: 1.5em;">{{adress()}}</h2>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ol-map [coordinates]="coordinates()">
    <ol-marker [coordinates]="coordinates()"></ol-marker>
  </ol-map> 


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['']" [routerDirection]="'root'">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
