<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Event List</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      debounce="500"
      [(ngModel)]="search"
      (ionInput)="filterItems()"
    >
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher #refresher slot="fixed" (ionRefresh)="reloadEvents(refresher)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" [routerLink]="['/posts/add']" [routerDirection]="'root'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


    @for (event of events(); track event.id){
      <event-card
      [event]="event"
      (deleted)="deleteEvent(event)"
      ></event-card>
    }
  
    <ion-infinite-scroll
      #infinite
      (ionInfinite)="loadMoreItems(infinite)"
      [disabled]="finished"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>