<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form
  #formEvent="ngForm"
  [formGroup]="newPassword"
  (ngSubmit)="editPassword()"
  id="newEdit"
>
  <ion-item class="ion-margin-bottom">
    <ion-input type="password"
    class="form-control"
    name="password"
    id="password"
    label="Password"
    labelPlacement="floating"
    formControlName="password"></ion-input>
  </ion-item>
  
  <ion-item class="ion-margin-bottom">
    <ion-input
      type="password"
      name="password2"
      id="password2"
      label="Repeat Password"
      labelPlacement="floating"
      formControlName="password2"
    ></ion-input>
  </ion-item>

  <ion-button expand="full" type="submit" color="primary" [disabled]="newPassword.invalid">Save changes</ion-button>
</form>

</ion-content>
