<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="posts/home"></ion-back-button>
    </ion-buttons>
    <ion-title>profile page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row class="ion-margin-top" id="profile">
    <ion-col size="3">
      <div>
        <ion-img class="ion-full-width" id="avatar" src="{{avatar()}}"></ion-img>
      </div>
    </ion-col>

    <ion-col style="margin-left: 2em;">
      <ion-text>
        <h4 id="name">{{ name() }}</h4>
      </ion-text>
      <ion-text color="medium">
        <h4 id="email">
          <small>{{ email() }}</small>
        </h4>
      </ion-text>
      
    </ion-col>
  </ion-row>
  @if(user().me){
    <ion-button (click)="openModalProfile()" color="secondary" expand="block">
      <ion-label>Edit Profile</ion-label>
    </ion-button>
    <ion-button (click)="openModalPassword()" color="secondary" expand="block">
      <ion-label>Edit Password</ion-label>
    </ion-button>
    <ion-item>
      <ion-button color="secondary" (click)="takePhoto()">
        <ion-icon name="camera" slot="start"></ion-icon>
        Camera
      </ion-button>
      <ion-button color="tertiary" (click)="pickFromGallery()">
        <ion-icon name="images" slot="start"></ion-icon>
        Gallery
      </ion-button>
    </ion-item>
  }

  <ion-row>
    <ol-map [coordinates]="coordinates()">
      <ol-marker [coordinates]="coordinates()"></ol-marker>
    </ol-map> 
  </ion-row>
</ion-content>
